div{
  border-style: solid ;
  border: black;
}

button{
  display:block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.output{
  border-style: solid ;
  border: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
}

.flex-container{
  display : flex;
  justify-content:center;

}