
/* ----------------------------Output and Palette FlexBox----------------------------------------- */
.output-palette-container{
  display : flex;
  justify-content: center;
  align-items: center;
}


.output-palette-child{
  margin: auto;
}
/* ------------------------------------------------------------------------- */

.output{

  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: auto;
  text-align: center;
  font-size: small;
  padding: 10px;
}






/* ----------------------------Palette FlexBox----------------------------------------- */
.palette-container{
  width: 300px;
  display : flex;
  justify-content:space-evenly;
  flex-wrap: wrap;

}

.palette-child{
  margin: auto;
  padding: 3px;
  border-radius: 50%;
}

button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* ------------------------------------------------------------------------- */